// variables
$secondary_color: #343a40;

$font_title: 'Caladea';
$font_text: 'Lato';

// main
body {    
    background-color: black;
    color: lightgray;
}

// fonts

h1, h2, h3 {
    font-family: $font_title;
    font-weight: 700;
}

h1, h2 {
    margin-top: 30px;
}

p {
    font-family: $font_text;
    margin-top: 20px;
}

// elements

#crew {
    .crew_card {
        border: 1px solid $secondary_color;
        padding: 0;
    }
}

.footer {
    background-color: $secondary_color;
    height: 50px;
}
