// variables
$secondary_color: #343A40;
$link_color: #01DF74;
$border_color: #A4A4A4;

$font_title: 'Caladea';
$font_text: 'Lato';

$navbar_height: 58px;

// main

body {    
    background-color: black;
    color: lightgray;
}

.spacer_navbar {
    margin-top: $navbar_height;
}

// fonts

h1, h2, h3 {
    font-family: $font_title;
    font-weight: 700;
}

h1, h2 {
    margin-top: 30px;
}

p {
    font-family: $font_text;
    margin-top: 20px;
}

a, a:hover {
    color: $link_color;
}

.footer {
    background-color: $secondary_color;
    height: auto;
}


// elements
#intro {
    img.logo {
        width: 200px;
        height: auto;
        border: none;
        
    }
    img {
        width: 100%;
        margin: 15px 0;
        padding: 20px 0;
        border-top: 1px solid $border_color;
        border-bottom: 1px solid $border_color;
    }
}

#crew {
    .crew_card {
        margin-top: 20px;
        padding: 0;
        img {
            width: 100%;
        }
        .crew_card_text {
            margin: 10px;
            padding: 15px;
            border-bottom: 1px solid $border_color;
            p {
                margin-top: 0;
            }
        }
    }
}
