body {
    background-color: black;
    color: lightgray;
}

h1, h2 {
    font-family: 'Caladea';
    font-weight: 700;
    margin-top: 30px;
}

p {
    font-family: 'Lato';
    margin-top: 20px;
}


a {

}

.footer {
    background-color: #343a40;
    height: 50px;
}

#crew .img {
    float: left;
}